<article class="boxes-container" *ngFor="let box of boxes">
    <img [src]="'assets/images-box/' + box.image + '.png'" alt="Box Image">
    <div class="tag-container">
        <div class="aligner">
            <h3> {{box.nom}} </h3>
            <p> {{box.pieces}} pièces </p>
        </div>
        <p> {{box.prix}} € </p>
    </div>
    <div class="plus-minus">
        <button>
            <img src="./../../../assets/plus.svg" alt="plus">
        </button>
        <img src="./../../../assets/minus.svg" alt="minus">
    </div>
</article>
