<article class="boxes-container">
    <img src="./../../../assets/images_no_bg/tasty-blend-removebg-preview.png" alt="">
    <div class="tag-container">
        <div class="aligner">
            <h3>Amateur Mix</h3>
            <p>15 pièces</p>
        </div>
        <p>13.90€</p>
    </div>
    <div class="plus-minus">
        <button>
            <img src="./../../../assets/plus.svg" alt="plus">
        </button>
        <img src="./../../../assets/minus.svg" alt="minus">
    </div>
</article>
<article class="boxes-container">
    <img src="./../../../assets/images_no_bg/amateur-mix-removebg-preview.png" alt="">
    <div class="tag-container">
        <div class="aligner">
            <h3>Amateur Mix</h3>
            <p>15 pièces</p>
        </div>
        <p>13.90€</p>
    </div>
    <div class="plus-minus">
        <button>
            <img src="./../../../assets/plus.svg" alt="plus">
        </button>
        <img src="./../../../assets/minus.svg" alt="minus">
    </div>
</article>
<article class="boxes-container">
    <img src="./../../../assets/images_no_bg/salmon-original-removebg-preview.png" alt="">
    <div class="tag-container">
        <div class="aligner">
            <h3>Amateur Mix</h3>
            <p>15 pièces</p>
        </div>
        <p>13.90€</p>
    </div>
    <div class="plus-minus">
        <button>
            <img src="./../../../assets/plus.svg" alt="plus">
        </button>
        <img src="./../../../assets/minus.svg" alt="minus">
    </div>
</article>
<article class="boxes-container">
    <img src="./../../../assets/images_no_bg/amateur-mix-removebg-preview.png" alt="">
    <div class="tag-container">
        <div class="aligner">
            <h3>Amateur Mix</h3>
            <p>15 pièces</p>
        </div>
        <p>13.90€</p>
    </div>
    <div class="plus-minus">
        <button>
            <img src="./../../../assets/plus.svg" alt="plus">
        </button>
        <img src="./../../../assets/minus.svg" alt="minus">
    </div>
</article>
<article class="boxes-container">
    <img src="./../../../assets/images_no_bg/salmon-lovers-removebg-preview.png" alt="">
    <div class="tag-container">
        <div class="aligner">
            <h3>Amateur Mix</h3>
            <p>15 pièces</p>
        </div>
        <p>13.90€</p>
    </div>
    <div class="plus-minus">
        <button>
            <img src="./../../../assets/plus.svg" alt="plus">
        </button>
        <img src="./../../../assets/minus.svg" alt="minus">
    </div>
</article>
<article class="boxes-container">
    <img src="./../../../assets/images_no_bg/master-mix-removebg-preview.png" alt="">
    <div class="tag-container">
        <div class="aligner">
            <h3>Amateur Mix</h3>
            <p>15 pièces</p>
        </div>
        <p>13.90€</p>
    </div>
    <div class="plus-minus">
        <button>
            <img src="./../../../assets/plus.svg" alt="plus">
        </button>
        <img src="./../../../assets/minus.svg" alt="minus">
    </div>
</article>
<article class="boxes-container">
    <img src="./../../../assets/images_no_bg/sunrise-removebg-preview.png" alt="">
    <div class="tag-container">
        <div class="aligner">
            <h3>Amateur Mix</h3>
            <p>15 pièces</p>
        </div>
        <p>13.90€</p>
    </div>
    <div class="plus-minus">
        <button>
            <img src="./../../../assets/plus.svg" alt="plus">
        </button>
        <img src="./../../../assets/minus.svg" alt="minus">
    </div>
</article>
<article class="boxes-container">
    <img src="./../../../assets/images_no_bg/sando-box-chicken-katsu-removebg-preview.png" alt="">
    <div class="tag-container">
        <div class="aligner">
            <h3>Amateur Mix</h3>
            <p>15 pièces</p>
        </div>
        <p>13.90€</p>
    </div>
    <div class="plus-minus">
        <button>
            <img src="./../../../assets/plus.svg" alt="plus">
        </button>
        <img src="./../../../assets/minus.svg" alt="minus">
    </div>
</article>
<article class="boxes-container">
    <img src="./../../../assets/images_no_bg/sando-box-salmon-aburi-removebg-preview.png" alt="">
    <div class="tag-container">
        <div class="aligner">
            <h3>Amateur Mix</h3>
            <p>15 pièces</p>
        </div>
        <p>13.90€</p>
    </div>
    <div class="plus-minus">
        <button>
            <img src="./../../../assets/plus.svg" alt="plus">
        </button>
        <img src="./../../../assets/minus.svg" alt="minus">
    </div>
</article>
<article class="boxes-container">
    <img src="./../../../assets/images_no_bg/super-salmon-removebg-preview.png" alt="">
    <div class="tag-container">
        <div class="aligner">
            <h3>Amateur Mix</h3>
            <p>15 pièces</p>
        </div>
        <p>13.90€</p>
    </div>
    <div class="plus-minus">
        <button>
            <img src="./../../../assets/plus.svg" alt="plus">
        </button>
        <img src="./../../../assets/minus.svg" alt="minus">
    </div>
</article>
<article class="boxes-container">
    <img src="./../../../assets/images_no_bg/california-dream-removebg-preview.png" alt="">
    <div class="tag-container">
        <div class="aligner">
            <h3>Amateur Mix</h3>
            <p>15 pièces</p>
        </div>
        <p>13.90€</p>
    </div>
    <div class="plus-minus">
        <button>
            <img src="./../../../assets/plus.svg" alt="plus">
        </button>
        <img src="./../../../assets/minus.svg" alt="minus">
    </div>
</article>
<article class="boxes-container">
    <img src="./../../../assets/images_no_bg/gourmet-mix-removebg-preview.png" alt="">
    <div class="tag-container">
        <div class="aligner">
            <h3>Amateur Mix</h3>
            <p>15 pièces</p>
        </div>
        <p>13.90€</p>
    </div>
    <div class="plus-minus">
        <button>
            <img src="./../../../assets/plus.svg" alt="plus">
        </button>
        <img src="./../../../assets/minus.svg" alt="minus">
    </div>
</article>
<article class="boxes-container">
    <img src="./../../../assets/images_no_bg/fresh-mix-removebg-preview.png" alt="">
    <div class="tag-container">
        <div class="aligner">
            <h3>Amateur Mix</h3>
            <p>15 pièces</p>
        </div>
        <p>13.90€</p>
    </div>
    <div class="plus-minus">
        <button>
            <img src="./../../../assets/plus.svg" alt="plus">
        </button>
        <img src="./../../../assets/minus.svg" alt="minus">
    </div>
</article>